<!DOCTYPE html>
<html>
  <head>
    <title>Authentication</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= current_user.username %>
    <form class="" action= <%= session_url %> method="post">
      <input type="hidden" name="_method" value="DELETE">
      <label for="Sign Out">Sign Out</label>
      <button id="Sign Out" type="Submit" name="button">Sign Out</button>

    </form>
    <% else  %>

    <%end  %>

    <%= yield %>
  </body>
</html>
